.FooterContainer {
    background: rgb(37, 153, 199);
    width: 100vw;
    height: auto;
    text-align: center;
    display: flex;
    padding: 5vh 0;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
}
