.HeaderContainer {
    background: rgb(37, 153, 199);
    width: 100vw;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    padding: 5vh 0;
    color: white;
    margin-bottom: 5vh;
}
